
body{
    background: cadetblue;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#general{
    width: 120vh;
    height: 150vh;
    background-color: cadetblue;
}
#tab{
    margin: 12vh;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 750px;
    background-color: cadetblue;
}
.title{
    border-radius: 2cm;
    display: flex;
    padding: 0.2rem 0.2rem;
    background: rgb(148, 147, 147);
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    font-size: larger;
}
.banner{
    display: flex;
    justify-content: top;
    align-items: center;
        width: 200px;
        height: 300px;
        background-color: orange

}
#Tablero{
    width: 950px auto;
    height: 950px auto;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    border: 50px;

}
.Bloque{
    width: 75px;
    height: 75px;
    border: 10px;
    float: left;
    text-align: center;
    font-size: 3.5em;
    background-color: azure;
    border-radius: 0.1rem;

}
.Oscuro{
background-color: rgba(0, 0, 0, 0.555);
}
.Oscuro:hover{
    background-color: aquamarine;
}

.Claro:hover{
    background-color: aquamarine;
}
.Claro{
background-color: rgb(148, 147, 147);
}
#footer{
    justify-content: center;
    display: flex;
    border-radius: 0.5cm;
    width: 500px auto;
    height: 300px auto;
    background: rgb(148, 147, 147);;
    font-family: 'Amatic SC', cursive;
    font-size: x-small;
}