
body{
    background: cadetblue;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#general{
    width: 120vh;
    height: 150vh;
    background-color: cadetblue;
}
#tab{
    margin: 10vh;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
    background-color: cadetblue;
}
.title{
    border-radius: 2cm;
    display: flex;
    padding: 0.2rem 0.2rem;
    background: rgb(148, 147, 147);
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    font-size: larger;
}
.banner{
    display: flex;
    justify-content: top;
    align-items: center;
        width: 200px;
        height: 300px;
        background-color: orange

}
.Bloque{
    border-color: transparent;
    border-style: solid;
    width: 70px;
    height: 70px;
    padding: 0.5px;
    float: left;
    text-align: center;
    font-size: 3.5em;
    background-color:gold;
}

.Oscuro{
    background: rgba(0, 0, 0, 0.555); 
    cursor: cell; 
}

.Claro{
    cursor: cell;
    background: rgb(148, 147, 147);
}

.Oscuro:hover{
    border-color: aquamarine;
    border-style: outset;
}

.Claro:hover{
    border-color: aquamarine;
    border-style: outset;
}

#footer{
    justify-content: center;
    display: flex;
    border-radius: 0.5cm;
    width: 500px auto;
    height: 300px auto;
    background: rgb(148, 147, 147);;
    font-family: 'Amatic SC', cursive;
    font-size: x-small;
}
.mano {
    cursor: -ms-grabbing; 
    cursor: -moz-grabbing; 
    cursor: -webkit-grabbing; 
    cursor: grabbing; 
    }