body{
    background: yellow;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    padding: 1rem 1rem;
    background: yellow;
    justify-content: center;
       position: fixed;
        right:0 auto;
        width: 0 auto;
        top: 0 ;
}
#Tablero{
    width: 200px auto;
    height: 200px auto;
    background-color: yellow;
    align-items: center;
}
.Bloque{
    width: 70px;
    height: 70px;
    border: 1px;
    float: left;
    text-align: center;
    font-size: 3em;
}
.Oscuro{
background-color: rgba(0, 0, 0, 0.555);
}
.Claro{
background-color: rgb(148, 147, 147);
}